* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(to right, white, rgb(199, 199, 246));
}

.container-blog {
    text-align: center;
    margin: 90px 150px 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.img-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin: 20px auto;
    max-width: 800px;
}

.img-container img {
    max-width: 100%;
    height: auto;
}

.card {
    width: 18rem;
    margin: 10px;
}

@media (max-width: 768px) {
    .card {
        width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .card {
        width: calc(100% - 40px);
    }
}

.other-blogs{
    text-align: center;
    
}