body{
    margin: 0;
    background-color: black;
}


#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock{
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    text-align: center;
    backdrop-filter: blur(10px);
    color: rgb(255, 178, 34);
}