@{
    ViewData["Title"] = "Anasayfa";
}

<div>
    <p>(M)odels: Uygulamamızın veri ile ilgili kısımlarını temsil eder.</p>
    <p>(V)iews: Uygulamamızın dış dünyaya açılan yüzü arayüz</p>
    <p>(C)ontrollers: Uygulamaya gelen istekleri yöneten ve models ile views arasındaki bütün iletişimi kontrol altında tutan yapıyı temsil eder.</p>
</div>
