body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(196, 196, 196);
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

#sayac {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

#sayac div{
    font-size: 2em;
    margin: 10px 0;
}